<body>
  <app-unstatistics></app-unstatistics>
  <div class="recent-grid">
    <div class="projects">
      <div class="card">
        <div class="card-header">
          <h3>Teachers</h3>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table width="100%">
              <thead>
                <tr>
                  <td>First name</td>
                  <td>Last name</td>
                  <td>Phone Number</td>
                  <td>Department</td>
                  <td>Second Department</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teacher of teachers$ | async as teachers">
                  <td>{{ teacher.firstName }}</td>
                  <td>{{ teacher.lastName }}</td>
                  <td>{{ teacher.phoneNumber }}</td>
                  <td>{{ teacher.department }}</td>
                  <td>
                    {{
                      teacher.secondDepartment
                        ? teacher.secondDepartment
                        : "----"
                    }}
                  </td>
                  <td>
                    <button class="btn" (click)="delete(teacher.id)">
                      delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
