<body>
  <app-unstatistics></app-unstatistics>
  <div class="recent-grid">
    <div class="projects">
      <div class="card">
        <div class="card-header">
          <h3>Teachers</h3>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table width="100%">
              <thead>
                <tr>
                  <td>Family name</td>
                  <td>First name</td>
                  <td>departement</td>
                  <td>specialty</td>
                </tr>
              </thead>
              <tbody>
                <td>ahmed</td>
                <td>abdelkader</td>
                <td>scienece exact</td>
                <td>informatiquer</td>
                <tr>
                  <td>
                    <button class="btn">
                      <a
                        href=""
                        onclick="return confirm('Are You sure to delete this account ?');"
                      >
                        delete
                      </a>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>ahmed</td>
                  <td>abdelkader</td>
                  <td>scienece exact</td>
                  <td>informatiquer</td>

                  <td>
                    <button class="btn">
                      <a
                        href=""
                        onclick="return confirm('Are You sure to delete this account ?');"
                      >
                        delete
                      </a>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
