<body>
  <input type="checkbox" id="nav-toggle" />
  <div class="sidebar">
    <div class="sidebar-brand">
      <h2><span>Online Exam Dashboard</span></h2>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <br />
          <a
            id="1"
            [routerLink]="['/dashboard/students']"
            routerLinkActive="router-link-active"
            (click)="linkClicked(1)"
            >Students</a
          >
        </li>

        <li>
          <br />
          <a
            id="2"
            [routerLink]="['/dashboard/teachers']"
            routerLinkActive="router-link-active"
            (click)="linkClicked(2)"
            >Teachers</a
          >
        </li>

        <li>
          <br />
          <a
            id="3"
            [routerLink]="['/dashboard/exams']"
            routerLinkActive="router-link-active"
            (click)="linkClicked(3)"
            >Exams</a
          >
        </li>
        <li>
          <br />
          <a
            id="4"
            [routerLink]="['/dashboard/university']"
            routerLinkActive="router-link-active"
            (click)="linkClicked(4)"
            >University Details</a
          >
        </li>
        <li>
          <br />
          <a
            class="active"
            id="5"
            [routerLink]="['/dashboard/settings']"
            routerLinkActive="router-link-active"
            (click)="linkClicked(5)"
            >Settings</a
          >
        </li>
        <li>
          <br />
          <a (click)="logout()" class="link logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------- -->
  <div class="main-content">
    <header>
      <h2>Online-<font style="color: #03bd8e"> Exam </font></h2>
      <div class="user-wrapper">
        <img
          src="../../../assets/setting.png"
          width="40px"
          height="40px"
          alt=""
        />
        <div>
          <h4>Admin</h4>
          <small>{{ admin.firstName }} {{ admin.lastName }} </small>
        </div>
      </div>

      <div class="msg_icon" (click)="expandMessages()">
        <img src="../../../assets/bell.png" alt="" />
        <span> {{ messages?.length }}</span>
      </div>
      <div class="notifi-box collabsed" id="box">
        <h2>
          Notifications
          <span>
            {{ messages?.length }}
          </span>
        </h2>

        <div
          class="notifi-item"
          id="msg"
          *ngFor="let message of messages"
          (click)="messageClicked(message.id)"
        >
          <div class="text">
            <h4>
              {{ message.name }}
            </h4>
            <p>
              {{ message.subject }}
              <button (click)="delete(message?.id)" type="submit">
                delete
              </button>
            </p>
          </div>
        </div>
      </div>
    </header>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>
