<div class="center">
  <section class="contact" id="contact">
    <div class="max-width">
      <img src="../../../assets/setting.png" style="width: 10%" />

      <div class="contact-content">
        <div class="right">
          <div class="text" style="color: #3bac90">
            Edit personal infromation
          </div>
          <form #updateForm="ngForm">
            <div class="fields">
              <div class="field name">
                <input
                  type="text"
                  placeholder="{{ admin.firstName }}"
                  id="firstName"
                  [(ngModel)]="updateAccountRequest.firstName"
                  ngModul
                  name="firstName"
                  minlength="3"
                  maxlength="30"
                  #firstName="ngModel"
                  pattern="([a-zA-Z]+[ ]?)+"
                />
              </div>

              <div class="field name">
                <input
                  type="text"
                  placeholder="{{ admin.lastName }}"
                  id="lastName"
                  [(ngModel)]="updateAccountRequest.lastName"
                  ngModul
                  name="lastName"
                  minlength="3"
                  maxlength="30"
                  #firstName="ngModel"
                  pattern="([a-zA-Z]+[ ]?)+"
                />
              </div>
            </div>
            <div class="fields">
              <div class="field email">
                <input
                  type="email"
                  placeholder="{{ admin.email }}"
                  id="email"
                  disabled
                />
              </div>
            </div>
            <div class="field">
              <input
                type="password"
                placeholder="Old Password"
                required
                id="old-password"
                [(ngModel)]="updateAccountRequest.oldPassword"
                ngModul
                name="old-password"
                minlength="5"
                maxlength="30"
                #oldPassword="ngModel"
              />
            </div>
            <div class="field">
              <input
                type="password"
                placeholder="New Password"
                id="new-password"
                [(ngModel)]="updateAccountRequest.newPassword"
                ngModul
                name="new-password"
                minlength="5"
                maxlength="30"
                #newPassword="ngModel"
              />
            </div>

            <div class="field">
              <input
                type="password"
                placeholder="Confirm new Password"
                id="new-password-confirmation"
                [(ngModel)]="passwordConfirmation"
                ngModul
                name="new-password-confirmation"
                minlength="5"
                maxlength="30"
                #newPasswordConfirmation="ngModel"
              />
            </div>
            <div class="button-area">
              <button type="submit" (click)="update()">Confirm</button>
              <button type="submit" (click)="clear()">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
