<div class="table-users">
    <div class="header">All Messages</div>
    <table cellspacing="0">
        <tr>
            <!-- <th></th> -->
            <th>Email</th>
            <th>Subject</th>
            <th>Context</th>
            <th>Action</th>

        </tr>
        <tr *ngFor="let message of messages">
            <td class="text">{{message.email}} </td>
            <td class="text">{{message.subject}}</td>
            <td class="text">{{message.context}}</td>
            <td>
                <div class="buttonBlock">
                    <button class="btn btn-info" (click)="view(message.id)">View</button>
                    <button class="btn btn-danger" style="border-radius: 50%;" (click)="delete(message.id)">X</button>
                </div>
            </td>
        </tr>
    </table>
</div>